{% extends "base.html" %}
{% from "bootstrap_wtf.html" import quick_form %}

{% block content %}
    <div class="text-center">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <h1>Login</h1>
                {{ quick_form(form, action="", method="post", novalidate=True) }}
                <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                <p>Forgot Your Password? <a href="{{ url_for('reset_password_request') }}">Click to Reset Password</a></p>
            </div>
        </div>
    </div>
{% endblock %}
