{% extends "base.html" %}
{% block content %}
    <div class="text-center">
        <div class="d-flex justify-content-center">
            <div class="me-3">
                <img src="{{ user.avatar(128) }}" class="rounded-circle mb-3" style="max-width: 128px; max-height: 128px;">
            </div>
            <div>
                <h1>{{ user.formatted_username() }}'s posts!</h1>
                {% if user.about_me %}
                <div class="mb-3">
                    <p class="text-center">{{ user.about_me }}</p>
                </div>
                {% endif %}
                {% if user.last_seen %}
                <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ user.followers_count() }} followers, {{ user.following_count() }} following.</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(class='btn btn-primary', value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(class='btn btn-danger', value='Unfollow') }}
                    </form>
                </p>
                {% endif %}
            </div>
        </div>
        <hr>
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        <div>
            {% if prev_url %}
            <a href="{{ prev_url }}" class="btn btn-secondary">Newer posts</a>
            {% else %}
            <span class="btn btn-secondary disabled">Newer posts</span>
            {% endif %}
            |
            {% if next_url %}
            <a href="{{ next_url }}" class="btn btn-secondary">Older posts</a>
            {% else %}
            <span class="btn btn-secondary disabled">Older posts</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
